{% extends 'blog/base.html' %}
{% block title %}Blog About{% endblock %}
{% block AboutActive %} active {% endblock %}
{% block body %}
<div class="container">
    <h2 class="mt-2 text-center">About </h2>
    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis optio dolorem ratione quasi nisi, deserunt beatae odio assumenda odit velit culpa officia sit voluptatem quidem commodi blanditiis aut consequatur excepturi saepe iusto. Debitis odit dolor aut fuga ea esse eveniet natus minima distinctio vitae reiciendis, quo porro aperiam excepturi quaerat?</p>
</div>
{% endblock %}