{% extends 'blog/base.html' %}
{% block title %}Blog Contact{% endblock %}
{% block ContactActive %} active {% endblock %}
{% block css %}
    <style>
        .h2,h2{font-size: 4.5rem;}
       
    </style>
{% endblock %}
{% block body %}
<div class="my-4 container">
    <h2 class="mt-2 text-center">Contact</h2>
    <div class="mt-3 text-center">
        <a target="_blank" class="ml-3" href="https://github.com/coderaman21">Github</a>
        <a target="_blank" class="ml-3" href="https://linkedin.com/in/divyanshusoni">Linkedin</a>
        <a target="_blank" class="ml-3" href="https://twitter.com/amans197555">Twitter</a>
        <a target="_blank" class="ml-3" href="https://www.instagram.com/aman_soni21/">Instagram</a>
    </div>
</div>
{% endblock %}